body{
    margin: 0;
    background: black;
}

h1{
    margin: 0;
}

header{
    text-align: center;
    width: auto;
    height: 120px;
    background: black;
    color: white;
}
.main-title{
    padding-top: 40px;
    padding-bottom: 40px;
    height: 40px;
}
h2{
    margin: 0;
}
footer{
    text-align: center;
}